<div class="row">
    <div class="col-md-6 offset-md-3 jumbotron">
        <h3>Login</h3>
        <form method="post" action="/account/login">
            @if (ViewBag.Message != null)
            {
                <span class="text-danger">@ViewBag.Message</span>
            }
            <input type="text" placeholder="Email" name="email" class="form-control"/>
            <br/>
            <input type="password" placeholder="Password" name="password" class="form-control"/>
            <br/>
            <a href="/account/signup">Don't have an account? Sign up here!</a>
            <br/>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>